@{
    ViewData["Title"] = "Home Page";
}

 
   
<section class="slider_section ">

    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="detail-box">
                                <h1 class="naslov">
                                    ANMALE <br>
                                    KURSEVI
                                </h1>
                                <p>
                                    Želite da unapredite svoje veštine, naučite nešto novo ili se pripremite za novu karijeru? Naša platforma nudi širok spektar kurseva koji vam pomažu da postignete svoje ciljeve. Bilo da ste početnik ili već imate iskustva, naši kursevi su prilagođeni svim nivoima znanja.
                                </p>
                                <div class="btn-box">
                                    <a href="#odredjeni-deo" class="btn1">
                                        Pročitaj više
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-box">
                                <img src="images/slider-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </section>
      


<section class="service_section layout_padding">
    <div class="service_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    Naši <span>kursevi</span>
                </h2>
                <p>
                    Stručno osmišljeni programi koji pokrivaju razne oblasti
                </p>
            </div>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/web-programming.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Osnove Programiranja
                            </h5>
                            <p>
                                Uvod u programiranje <br>
                                Python za početnike <br>
                                Java za početnike <br>
                                C++ za početnike <br>
                                HTML/CSS osnove <br>

                            </p>
                            <a href="">
                                Pročitaj više
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/s2.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Veštačka Inteligencija i Machine Learning
                            </h5>
                            <p>
                                Osnove AI i ML <br>
                                Kreiranje modela u Python-u <br>
                                Rad sa TensorFlow-om i Keras-om <br>
                                Primena AI u stvarnim aplikacijama <br>
                                Natural Language Processing (NLP) <br>
                            </p>
                            <a href="">
                                Pročitaj više
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/s3.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Razvoj Softverskih Aplikacija
                            </h5>
                            <p>
                                C# i .NET razvoj <br>
                                Osnove C# <br>
                                Java razvoj  <br>
                                Spring Framework <br>
                                C++ za napredne <br>
                            </p>
                            <a href="">
                                Pročitaj više
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="about.html">
                    Pogledaj ostale kurseve
                </a>
            </div>
        </div>
    </div>
</section>



<section class="about_section layout_padding">
    <div class="container  ">
        <div class="heading_container heading_center">
            <h2 id="odredjeni-deo">
                Zašto odabrati <span>naše kurseve</span>?
            </h2>

        </div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="images/logo.jpeg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">

                    <p>
                        Stručni Instruktori: Naši kursevi vode iskusni i sertifikovani instruktori sa dugogodišnjim iskustvom u industriji. <br> <br>
                        Fleksibilnost u učenju: Učite kada i gde želite, u tempu koji vam odgovara, uz podršku dostupnu 24/7. <br> <br>
                        Praktično znanje: Kursevi su dizajnirani sa praktičnim vežbama i stvarnim primerima kako biste odmah mogli primeniti naučeno. <br> <br>
                        Aktualni i relevantni sadržaji: Kursevi su redovno ažurirani kako bi pratili najnovije trendove i tehnologije.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>



<section class="why_section layout_padding">
    <div class="container">
        <div style="background-color: #004aad; padding: 40px; text-align: center; color: #fff; border-radius: 8px;">
            <h2 style="font-size: 32px; margin-bottom: 20px; font-weight: bold;">Pridružite se hiljadama zadovoljenih polaznika</h2> 
            <p style="font-size: 18px; margin-bottom: 30px; font-weight: 400;">Naša platforma je dizajnirana da vam pomogne da postignete svoj pun potencijal. Otkrijte naše kurseve i krenite putem uspeha odmah!</p>
        </div> <div style="text-align: center; margin-top: 30px;"> <p style="font-size: 16px; color: #004aad; font-weight: 500;">Naša platforma nudi fleksibilnost, praktične veštine i podršku koju zaslužujete. <br>
            Ne čekajte! Započnite svoje obrazovanje već danas i postignite svoj pun potencijal!</p> </div>
    </div>
    <div class="btn-box">
        <a href="">
            Pročitaj više
        </a>
    </div>
    
</section>

<!-- end why section -->
<!-- team section -->
<section class="team_section layout_padding">
    <div class="container-fluid">
        <div class="heading_container heading_center">
            <h2 class="">
                Naši <span> mentori </span>
            </h2>
        </div>

        <div class="team_container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/Marko.webp" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Marko
                            </h5>
                            <p>
                                Fullstack developer
                            </p>
                        </div>
                        <div class="social_box">
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/Anđela.jpeg" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Anđela
                            </h5>
                            <p>
                                Marketing Head
                            </p>
                        </div>
                        <div class="social_box">
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/Lea.webp" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Lea
                            </h5>
                            <p>
                                Marketing Head
                            </p>
                        </div>
                        <div class="social_box">
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end team section -->
